
html, body {
    height: 100%;
    margin: 0;
}

.page-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
}

footer {
    margin-top: auto;
}

.sub-nav {
    border-bottom: 1px solid #dee2e6;
}
.sub-nav .nav-tabs .nav-link {
    color: #007bff;
}
.sub-nav .nav-tabs .nav-link.active {
    font-weight: bold;
    background-color: #e9ecef;
    border-color: #dee2e6 #dee2e6 #fff;
}

.dashboard-link {
  letter-spacing: 9px;
}

.sidebar {
    position: sticky;
    height: calc(100vh - 202px);
    overflow-y: auto;
}

.user-info {
  font-weight: bold;
}
.sub-nav .nav-tabs .nav-link,
.nav-link {
  color: #0f9dd3;
  font-weight: bold;
}

a:hover {
  color: #035675;
}


.card {
    border-radius: 1rem;
}

input.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.btn-primary {
    border-radius: 50px;
}

.logo-container a {
    justify-content: center !important;
}



